<div class="page">
<p id="notice"><%= notice %></p>

<h1 class="text-center">Books</h1>

<table>
  <thead >
    <tr>
      <th>Availability</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Title</th>
      <th>Copies Available</th>
      <th colspan="6 text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.availability.to_s.capitalize %></td>
        <td><%= book.author %></td>
        <td><%= book.genre.to_s.capitalize %></td>
        <td><%= book.title.to_s.capitalize %></td>
        <td><%= book.copies_available %></td>
        <td><%= link_to 'Show', book, class: "btn btn-primary" %></td><br>
        <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-primary" %></td><br>
        <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td><br>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
