<p id="notice"><%= notice %></p>

<h1 class="text-center">Books</h1>

<table>
  <thead >
    <tr>
      <th>Availability</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Title</th>
      <th>Copies available</th>
      <th colspan="6 text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.availability %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.title %></td>
        <td><%= book.copies_available %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<%= link_to 'New User', new_user_path %>
