<div class="show">
  <p id="notice" ><%= notice %></p>

  <p>
    <strong class="lead">Availability</strong><br>
    <%= @book.availability.to_s.capitalize %>
  </p>

  <p>
    <strong>Author</strong><br>
    <%= @book.author %>
  </p>

  <p>
    <strong>Genre</strong><br>
    <%= @book.genre.to_s.capitalize %>
  </p>

  <p>
    <strong>Title</strong><br>
    <%= @book.title.to_s.capitalize %>
  </p>

  <p>
    <strong>Copies Available</strong><br>
    <%= @book.copies_available %>
  </p><br>

  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %>

  <%= link_to 'Back', books_path, class: "btn btn-primary" %>
</div>
