<div class="page">
<p id="notice" ><%= notice %></p>

<p>
  <strong class="lead">Availability</strong>
  <%= @book.availability %>
</p>

<p>
  <strong>Author</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Title</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Copies Available</strong>
  <%= @book.copies_available %>
</p><br>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %><br>
<%= link_to 'Back', books_path, class: "btn btn-primary" %>
</div>
