<!DOCTYPE html>

<html>
  <head>
    <title>Donate Books</title>
    <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Available Books" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Donate Books" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <%= yield %>
    </main>
<!-- footer -->
  <div class="row py-3">
    <div class="col-md-7"> </div>
    <ul class="nav">
  </div>
    <div class="col-md text-md-right">
      <small>&copy; 2020 GIVE A BOOK & Donate Books</small>
    </div>
    <hr><!-- /footer-->
      <div class="row py-4 text-muted">
        <div class="col-md col-xl-5">
          <p><strong>About Donate Books</strong></p>
          <p>Donate books is a forum developed by people who understand the benefits of being well read. We bring together lovers of both fiction and Non-fiction literature who would love to share their collections with others. This site 100% free and inclusive. We are working on restrictions to better serve our users. Thank you For sharing with us.</p>
        </div>
        <div class="col-md col-xl-5 ml-auto">
          <!-- this part of the code is just an idea that cannot, at the moment be developed upon. -->
          <p><strong>Stay up-to-date on new Books Available</strong></p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Sign up</button>
            </span>
          </div>
        </div>
      </div>
  </body>
</html>
